<template>
      <div class="col-12">
    <div class="card textcenter mt-3">
      <div class="card-header bg-primary text-white">
       <button class="btn" style="cursor:pointer;" @click="showForm">
            <font-awesome-icon icon="plus" class="mr-3" /> </button>Add Appointment
      
      </div>

      <div class="card-body" v-if="showAddForm">
        <form id="aptForm">
          <div class="form-group form-row">
            <label class="col-md-2 col-form-label text-md-right" for="petName">Pet Name</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                name="petName"
                id="petName"
                v-model="appointment.petName"
                placeholder="Pet's Name"
              >
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-2 col-form-label text-md-right" for="ownerName">Pet Owner</label>
            <div class="col-md-10">
              <input type="text"  v-model="appointment.petOwner" class="form-control" id="ownerName" placeholder="Owner's Name">
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-2 col-form-label text-md-right" for="aptDate">Date</label>
            <div class="col-md-4">
              <input type="date" v-model="appointment.aptDate" class="form-control" id="aptDate">
            </div>
            <label class="col-md-2 col-form-label text-md-right" for="aptTime">Time</label>
            <div class="col-md-4">
              <input type="time" class="form-control" v-model="appointment.aptTime" name="aptTime" id="aptTime">
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-2 text-md-right" for="aptNotes">Apt. Notes</label>
            <div class="col-md-10">
              <textarea
                class="form-control"
                rows="4"
                cols="50"
                name="aptNotes"
                v-model="appointment.aptNotes"
                id="aptNotes"
                placeholder="Appointment Notes"
              ></textarea>
            </div>
          </div>

          <div class="form-group form-row mb-0">
            <div class="offset-md-2 col-md-10">
              <button type="submit" @click.prevent="addRequest(appointment)" class="btn btn-primary d-block ml-auto">Add Appointment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome"
export default {
    name: 'addAppointment',
    components:{
      FontAwesomeIcon
    },
    data: function(){
        return{
            showAddForm: false,
            appointment:{
                petName: "",
                petOwner: "",
                aptTime: "",
                aptDate: "",
                aptNotes: ""         
            }   
        }
    },
    methods:{
        showForm: function(){
            this.showAddForm = !this.showAddForm;
        },
        addRequest(apt){
          this.$emit('add', apt);
          this.appointment = {}
         this.showForm();
        }
        
    }
}
</script>