<template>
  <div class="col-12 col-md-10 col-lg-7">
    <div class="input-group my-3">
      <input
        id="SearchApts"
        placeholder="Search"
        type="text"
        class="form-control"
        aria-label="Search Appointments"
        v-model="searchedText"
      >

      <div class="input-group-append">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sort by
          <span class="caret"></span>
        </button>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" 
          class="dropdown-item d-flex justify-content-between" 
          @click="sendSortingInfo('Pet Name')"
          id="petName">
            Pet Name
            <font-awesome-icon 
            icon="check" 
            v-if="sortCriteria.param==='petName'" />
          </a>

          <a class="dropdown-item d-flex justify-content-between"
           href="#" 
           @click="sendSortingInfo('Date')"
           id="aptDate">
            Date
            <font-awesome-icon icon="check" 
            v-if="sortCriteria.param==='aptDate'" />
          </a>

          <a href="#" 
          class="dropdown-item d-flex justify-content-between" 
          @click="sendSortingInfo('Owner')"
          id="ownerName">
            Owner
            <font-awesome-icon icon="check" 
            v-if="sortCriteria.param==='petOwner'" />
          </a>

          <div class="dropdown-divider" role="separator"></div>

          <a
            class="dropdown-item d-flex justify-content-between"
            href="#"
            id="asc"
            @click="sortCriteria.sortOrder='asc'; sendSortingInfo;"            
          >
            Asc
            <font-awesome-icon v-model="sortCriteria.sortOrder" 
            v-if="sortCriteria.sortOrder=='asc'" 
            icon="check"/>
          </a>

          <a
            class="dropdown-item d-flex justify-content-between"
            href="#"
            id="desc"
            @click="sortCriteria.sortOrder='desc'; sendSortingInfo;"
          >
            Desc
            <font-awesome-icon 
            v-model="sortCriteria.sortOrder" 
            v-if="sortCriteria.sortOrder=='desc'"
            icon="check"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome"
export default {
    name: 'searchAppointment',
    
    components:{
      FontAwesomeIcon
    },
    watch:{
      searchedText:function(){
        this.$emit('refine', this.searchedText);
      }
    },
    data: function(){
      return{
        searchedText: "",
        sortCriteria: {
          param: 'petName',
          sortOrder: "asc"
          }        
      }
    },
    methods:{
      sendSortingInfo: function(info){
        if(this.sortCriteria.param.includes(info)){
          this.sortCriteria.param.splice(this.sortCriteria.param.indexOf(info), 1);
        }else{
          this.sortCriteria.param.push(info);
        }
        this.$emit('sortingParam', this.sortCriteria);
      }
    }
}
</script>