/* eslint-disable no-console */
<template>
  <div id="main-app" class="container">
    <div class="row">
      <addAppointment @add="addItem"></addAppointment> 
      <searchAppointment 
      @refine="searchApt"
      @sortingParam="sortApt"
      ></searchAppointment>   
      <appointmentsList :appointments="sortedAptList" @removeItem="removeItem" @edit="editItem"/>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import appointmentsList from "./components/appointmentsList.vue";
import addAppointment from "./components/addAppointment.vue";
import searchAppointment from "./components/searchAppointments.vue";
import _ from "lodash";

export default {
  name: "MainApp",
  components: {
    appointmentsList,
    addAppointment,
    searchAppointment
  },
  mounted(){
    var self = this;
    axios.get("./data/apts.json")
    .then((result)=>{
        this.appointments = result.data.map(function(item){
          item["aptId"] = self.aptIndex;
          self.aptIndex++;
          return item;
        })
    });
  },
  computed:{
    searchedAptsList:function(){
      return this.appointments.filter(item =>{
        return (item.petName.toLowerCase().match(this.searchedTerm.toLowerCase()) 
        || item.petOwner.toLowerCase().match(this.searchedTerm.toLowerCase())
        || item.aptNotes.toLowerCase().match(this.searchedTerm.toLowerCase()))
      });
    },
    filteredApts:function(){
      return _.orderBy(this.searchedAptsList,
         item => {
           return item[this.filterKey].toLowerCase()
         } ,
         this.filterDirection
      )
    },
    sortedAptList: function(){
      return _.sortBy(this.filteredApts,
        this.sortParam.param
      )
    }
  },
  data: function() {
    return {
      title: "Appointment List",
      appointments: [],
      aptIndex: 0,
      searchedTerm : "",
      filterKey: "petName",
      filterDirection: "asc",
      sortParam: {
        param: [],
        sortOrder: "asc"
        }
    };
  },
  methods:{
    removeItem:function(appointment){
      //this.appointments.splice(index,1);
      this.appointments = _.without(this.appointments, appointment)
    },
    editItem: function(id, field, text){
      const aptIndex = _.find(this.appointments,{
        aptId: id
      } );
      this.appointments[id][field] = text;

      // eslint-disable-next-line no-console
      console.log("actual record :"+ aptIndex);
    },
    addItem:function(apt){
      // eslint-disable-next-line no-console
      console.log("Apt:"+apt);apt.aptDate = apt.aptDate +':'+ apt.aptTime
      this.appointments.push(apt);
      
    },
    searchApt:function(apt){
      this.searchedTerm = apt;
    },
    sortApt:function(param){
      this.filterDirection = param.sortOrder;
      this.sortParam = param
    }
  }
};
</script>

